.contract{
    width: 100%;
    height: 100%;
}
.contract__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding-left: 33px;
    padding-right: 15px;
}
.contract__top > button > span{
    margin-left: 10px;
}
.contract__top >h2{
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 131.23%;
    /* bluish */

    color: #5B7BD1;
}
.contract__top path{
    fill: white;
}
.add{
    width: 100%;
    height: 100%;
    
}
.add__top{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 94px;
    background: #fff;
    border-left: 1px solid #e5e5e5;
    padding-left: 18px;
    position: fixed;
    z-index: 999;
    
}
.add__top h2{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin-top: 12px;
    color: rgba(0, 0, 0, 0.85);
}
.add__top .add__firstStep{
    font-size: 14px;
    line-height: 22px;

    align-items: center;

    color: rgba(0, 0, 0, 0.45);
}
.add__top .add__secondStep{
    color: rgba(0, 0, 0, 0.65) !important;
}

.add__main{
    width: 100%;
    min-height: 100%;
    background-color: #e5e5e5;
    padding-bottom: 50px;
    padding-top: 124px;
}

.ant-space-align-end{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.ant-input-number, .ant-picker-range{
    width: 100% !important; 
}

.contract__submitBtn {
    margin-left: 25%; 
}

.ant-input-number{
    width: 100%;
}

.ant-message {
    z-index: 99999999 !important;
}

.ant-modal-body {
    background: #e9e9e9 !important;
}