.clients{
    width: 100%;
    height: 100%;
}
.clients__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding-left: 33px;
}
.clients__top > button > span{
    margin-left: 10px;
}
.clients__top >h2{
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 131.23%;
    /* bluish */

    color: #5B7BD1;
}
.clients__top path{
    fill: white;
}